div
    .card(data-hz-resource="HzCardflip")
        .front
            | Front content
        .back
            | Back content
    .card(data-hz-resource="HzCardflip")
        .front
            | Front content
        .back
            | Back content
